* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('bg-2.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the background image */
    background-repeat: repeat; /* Prevent the background image from repeating */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Ensure the body takes up the full viewport height */
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 128px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 5;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

img {
    width: 100px;
    height: auto;
}

svg {
    width: 30px;
    height: auto;
    color: #FF8000;
}

svg:hover {
    color: #FFC108;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 30px;
}

nav a:hover {
    color: #FFC108;
}

.home h1 {
    font-size: 72px;
    padding-bottom: 10px;
}

p {
    color: rgb(70, 70, 56);
}

.btn.button {
    border: 0px solid rgb(0, 0, 0);
    background-color: #FF8000;
    border-radius: 24px;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: #fff;
}

.btn.button:hover {
    background-color: #FFC108;
}

#img1 img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

#img2 img {
    width: 70%;
    height: 550px;
    margin-left: 130px;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 0;
}

.accordion {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 20px;
}

.accordion-button {
    background-color: #FF8000;
    color: #fff;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.accordion-button:hover {
    background-color: #FFA733;
}

.accordion-content {
    display: none;
    padding: 10px;
}

.accordion-content.show {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#benefit ul {
    list-style-type: none; /* Optional: Remove default list style */
    padding-left: 0; /* Optional: Remove default padding */
}

#benefit li {
    padding: 10px 0; /* Add padding to top and bottom of each list item */
}

#package {
    padding: 30px 128px;
}

.package-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.package-header h1 {
    font-weight: bold;
    font-size: 60px;
    position: relative;
}

.package-header h1::before {
    content: "";
    width: 60px;
    height: 60px;
    background: url("./images/accent1.svg");
    position: absolute;
    left: -20px;
    top: -10px;
    z-index: -1;
}

.package-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 128px;
    margin-top: 32px;
}

.package-detail-item {
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.package-detail-item:hover {
    transform: scale(1.15);
}

.package-detail-item:hover img {
    filter: grayscale(0);
}

.package-detail-item img {
    width: 100%;
    filter: grayscale(1);
}

.package-detail-item h2 {
    padding: 0 16px;
}

.package-detail-item p {
    font-size: 16px;
    padding: 0 16px;
}

.btn-contact {
    background-color: #FF8000;
    color: white;
    padding: 8px 24px;
    text-decoration: none;
}

#home h1, #home p, #home a {
    margin: 0;
    animation: bounceIn 1.2s;
}

#img1 {
    margin: 0;
    animation: bounceIn 1.2s;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 128px;
    height: auto;
    margin-top: 20px;
    background-color: #fff; /* Ubah warna background sesuai kebutuhan */
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.social-icon {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
}

.social-icon img {
    margin-right: 10px; /* Jarak antara ikon sosial */
    width: 24px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    height: 24px;
}

.social-icon p {
    color: #020202; /* Warna teks untuk hak cipta */
    margin-left: 10px; /* Jarak antara ikon sosial dan teks hak cipta */
}

/* Media Queries for Responsiveness */

@media (max-width: 992px) {
    #header {
        flex-direction: column;
        padding: 20px;
    }

    nav a {
        margin-right: 10px;
    }

    .package-header {
        flex-direction: column;
        text-align: center;
    }

    .package-header h1 {
        font-size: 48px;
    }

    .package-detail {
        grid-template-columns: 1fr;
        row-gap: 32px;
    }

    #content {
        flex-direction: column;
        align-items: center;
    }

    #img2 img {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .accordion {
        width: 100%;
        margin-left: 0;
    }

    #footer {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .social-icon {
        margin-top: 10px;
    }

    .social-icon p {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    #header {
        padding: 20px;
    }
    #img1 {
        text-align: center; /* Posisikan gambar di tengah */
        margin-bottom: 20px; /* Beri jarak bawah */
    }

    #img1 img {
        max-width: 100%; /* Pastikan gambar tidak melebihi lebar container */
        height: auto; /* Biarkan tinggi gambar disesuaikan */
    }
    nav a {
        margin-right: 5px;
        font-size: 14px;
    }

    .package-header h1 {
        font-size: 36px;
    }

    .package-detail {
        row-gap: 24px;
      
    }

    .package-detail-item h2 {
        font-size: 20px;
    }

    .package-detail-item p {
        font-size: 14px;
    }

    #content {
        padding: 20px;
    }

    .accordion-button {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 576px) {
    nav a {
        font-size: 12px;
    }
    .home h1 {
        font-size: 65px; /* Ubah ukuran h1 sesuai kebutuhan */
    }

    #img1 {
        text-align: center; /* Posisikan gambar di tengah */
        margin-top: 300px; /* Beri jarak bawah */
    }

    #img1 img {
        max-width: 100%; /* Pastikan gambar tidak melebihi lebar container */
        height: auto; /* Biarkan tinggi gambar disesuaikan */
    }

    .package-detail {
        display: flex;
        flex-direction: column;
        align-items: center; /* Mengatur posisi item di tengah */
        row-gap: 24px;
    }

    .package-detail-item {
        width: auto; /* Kembali ke lebar aslinya */
        max-width: 100%; /* Maksimum lebar sesuai container */
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1); /* Efek bayangan */
        transition: transform 0.3s ease; /* Transisi saat hover */
    }

    .package-detail-item:hover {
        transform: scale(1.05); /* Efek membesar saat hover */
    }

    .package-detail-item img {
        width: 100%;
        filter: grayscale(1); /* Efek gambar grayscale */
    }

    .package-detail-item h2 {
        font-size: 18px;
        text-align: center; /* Posisi teks di tengah */
    }

    .package-detail-item p {
        font-size: 12px;
        text-align: center; /* Posisi teks di tengah */
    }

    .accordion-button {
        font-size: 12px;
        padding: 6px;
        width: 90%; /* Lebar button */
        max-width: 200px; /* Maksimum lebar button */
        margin: 0 auto; /* Center button */
    }
}

@keyframes bounceIn {
    0% {
        filter: opacity(0);
        transform: translateY(-20px);
    }
    35% {
        filter: opacity(0.25);
        transform: translateY(0);
    }
    70% {
        filter: opacity(0.5);
        transform: translateY(-10px);
    }
    100% {
        filter: opacity(1);
        transform: translateY(0);
    }
}

@keyframes flash {
    from {
        filter: opacity(0);
    }
    to {
        filter: opacity(1);
    }
}
